@import url('./dep/vars.css');
#error {
    display: flex;
    align-items: center;
    justify-content: content;
    height: 100vh;
}
#error-text {
    margin: auto;
    align-self: center;
    justify-content: center;
    font-size: 3vw;
    text-align: center;
    color: var(--color1a);
    word-wrap: wrap;
    width: 80vw;
    background-color: var(--color2at);
    border-radius: 15px;
}