@import url('./dep/vars.css');
#information {
    justify-content: center;
    margin: 1vw;
    padding: 10px 10px 30px;
    background-color: var(--color2at);
    border-color: transparent;
    border-radius: 30px;
    animation: fade-in 1s;
}
#info-loc {
    margin: 1vh 1vw;
    text-align: center;
    font-size: 6vw;
    color: var(--gray1);
}
#info-coords {
    margin: 1vh 1vw;
    text-align: center;
    font-size: 2vw;
    color: var(--gray1);
    cursor: pointer;
}
.info-title {
    margin: 6vh 1vw 2vh;
    font-size: 4vw;
    text-align: center;
    color: var(--gray2);
}
.info-container {
    clear: both;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 1.4vw;
}
.info-container-item {
    clear: both;
    margin: 10px;
    padding: 10px 13px;
    border-radius: 11px;
    background-color: var(--color2bt);
    font-size: 1.4vw;
    color: var(--gray2);
    min-width: 20vw;
    min-height: 8vw;
    max-width: 70vw;
}
.info-container-item food {
    font-size: 1.2vw;
    min-width: 30vw;
}